.h1 {
    color:wheat;
}

.jumbotron {
    overflow-y: hidden;
    background-color:#28282B;
}

.disc {
    margin-top: 5%;
    margin-left: -40%;
    border-radius: 100%;
    height: 90vh;
    animation: rotation 7s infinite linear;
    box-shadow: black;
}

.disc:hover {
    animation: end;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@font-face {
    font-family: 'onyx'; /* Name your font family */
    src: url('OPTIOnyx.otf'); /* Locate the .ttf file within your directory*/
  }
  

.profiletext{
    color: blanchedalmond;
    font-family:'onyx' ;
    font-size: 200px;
}